<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.custardsource.scratchminder"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:backupAgent=".BackupAgent"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Action" >
        <activity
            android:name=".ScoreboardActivity"
            android:alwaysRetainTaskState="true"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:parentActivityName=".LobbyActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".AddPlayerActivity"
            android:label="@string/title_activity_add_player"
            android:parentActivityName=".PlayerChooserActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI8vQoGRlxO5J_A-LlOrTFtjnil82LNxpaOPKGgw" />

        <activity
            android:name=".LobbyActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerChooserActivity"
            android:label="@string/title_activity_player_chooser"
            android:parentActivityName=".ScoreboardActivity" >
        </activity>
        <activity
            android:name=".NewGameActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_new_game"
            android:noHistory="true"
            android:parentActivityName=".LobbyActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".NewLeagueActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_new_league"
            android:noHistory="true"
            android:parentActivityName=".LeaguePlayActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".LeaguePlayActivity"
            android:label="@string/title_activity_league_play" >
        </activity>
        <activity
            android:name=".LeagueActivity"
            android:label="@string/title_activity_league"
            android:parentActivityName=".LeaguePlayActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.custardsource.scratchminder.HeadToHeadActivity" />
        </activity>
        <activity
            android:name=".RecordGameActivity"
            android:label="@string/record_game"
            android:parentActivityName=".LeagueActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.custardsource.scratchminder.LeagueActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".RegisterPlayerBadgeActivity"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_register_badge"
            android:noHistory="true"
            android:parentActivityName=".AddPlayerActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name=".PlayerStatsActivity"
            android:label="@string/title_activity_player_stats" >
        </activity>
        <activity
            android:name=".PlayerLeagueStatListActivity"
            android:label="@string/title_playerleaguestat_list" >
        </activity>
        <activity
            android:name=".PlayerLeagueStatDetailActivity"
            android:label="@string/title_playerleaguestat_detail"
            android:parentActivityName=".PlayerLeagueStatListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.custardsource.scratchminder.PlayerLeagueStatListActivity" />
        </activity>
    </application>

</manifest>